<!-- BEGIN : LOGIN PAGE 5-1 -->
<div class="user-login-5">
  <div class="row bs-reset">
    <div class="col-md-6 bs-reset mt-login-5-bsfix">
      <div class="login-bg" style="background-image:url(assets/pages/img/login/bg1.jpg)">
        <img class="login-logo" src="assets/pages/img/login/logo.png" /> </div>
    </div>
    <div class="col-md-6 login-container bs-reset mt-login-5-bsfix">
      <div class="login-content">
        <h1>Planet Admin Login</h1>
        <p> Login to management your store. </p>
        <form name="loginForm" #f="ngForm" (ngSubmit)="f.valid && login()" class="login-form" novalidate>
          <div *ngIf="f.invalid && f.dirty" class="alert alert-danger">
            <button class="close" data-close="alert"></button>
            <span>Username or password is incorrect. </span>
          </div>
          <div class="row">
            <div class="col-xs-6">
              <input class="form-control form-control-solid placeholder-no-fix form-group" type="text" placeholder="Username" name="username"
                [(ngModel)]="user.username" #username="ngModel" required/>
            </div>
            <div class="col-xs-6">
              <input class="form-control form-control-solid placeholder-no-fix form-group" type="password" placeholder="Password" name="password"
                [(ngModel)]="user.password" #password="ngModel" required/>
            </div>
          </div>
          <div class="row">
            <div class="col-sm-4">
              <div class="rem-password">
                <label class="rememberme mt-checkbox mt-checkbox-outline">
                  <input type="checkbox" name="remember" value="1" /> Remember me
                  <span></span>
                </label>
              </div>
            </div>
            <div class="col-sm-8 text-right">
              <div class="forgot-password">
                <a href="javascript:;" id="forget-password" class="forget-password">Forgot Password?</a>
              </div>
              <button class="btn green" type="submit" [disabled]="f.invalid">Sign In</button>
            </div>
          </div>
        </form>
        <!-- BEGIN FORGOT PASSWORD FORM -->
        <!-- <form class="forget-form" action="javascript:;" method="post">
          <h3 class="font-green">Forgot Password ?</h3>
          <p> Enter your e-mail address below to reset your password. </p>
          <div class="form-group">
            <input class="form-control placeholder-no-fix form-group" type="text" autocomplete="off" placeholder="Email" name="email"
            /> </div>
          <div class="form-actions">
            <button type="button" id="back-btn" class="btn green btn-outline">Back</button>
            <button type="submit" class="btn btn-success uppercase pull-right">Submit</button>
          </div>
        </form> -->
        <!-- END FORGOT PASSWORD FORM -->
      </div>
      <div class="login-footer">
        <div class="row bs-reset">
          <div class="col-xs-5 bs-reset">
            <ul class="login-social">
              <li>
                <a href="javascript:;">
                  <i class="icon-social-facebook"></i>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-social-twitter"></i>
                </a>
              </li>
              <li>
                <a href="javascript:;">
                  <i class="icon-social-dribbble"></i>
                </a>
              </li>
            </ul>
          </div>
          <div class="col-xs-7 bs-reset">
            <div class="login-copyright text-right">
              <p>Copyright &copy; PlantStore 2018</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- END : LOGIN PAGE 5-1 -->
