<!-- BEGIN SIDEBAR -->
<div class="page-sidebar-wrapper">
  <div class="page-sidebar navbar-collapse collapse">
    <ul class="page-sidebar-menu  page-header-fixed page-sidebar-menu-hover-submenu " data-keep-expanded="false" data-auto-scroll="true"
      data-slide-speed="200">
      <li class="nav-item start ">
        <a routerLink="/" class="nav-link nav-toggle">
          <i class="icon-home"></i>
          <span class="title">Dashboard</span>
          <span class="arrow"></span>
        </a>
      </li>
      <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
          <i class="icon-basket"></i>
          <span class="title">eCommerce</span>
          <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item  ">
            <a routerLink="/ecommerce" class="nav-link ">
              <i class="icon-home"></i>
              <span class="title">Dashboard</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a routerLink="/ecommerce/orders" class="nav-link ">
              <i class="icon-basket"></i>
              <span class="title">Orders</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a routerLink="/ecommerce/products"  class="nav-link ">
              <i class="icon-graph"></i>
              <span class="title">Products</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a routerLink="/ecommerce/categories"  class="nav-link ">
              <i class="icon-graph"></i>
              <span class="title">Categories</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
          <i class="icon-user"></i>
          <span class="title">Authorization</span>
          <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item  ">
            <a routerLink="/auth/users" class="nav-link ">
              <i class="icon-user"></i>
              <span class="title">Users</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a routerLink="/auth/roles" class="nav-link ">
              <i class="icon-user-following"></i>
              <span class="title">Roles</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
          <i class="icon-social-dribbble"></i>
          <span class="title">General</span>
          <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item  ">
            <a href="page_general_about.html" class="nav-link ">
              <i class="icon-info"></i>
              <span class="title">About</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a href="page_general_contact.html" class="nav-link ">
              <i class="icon-call-end"></i>
              <span class="title">Contact</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
              <i class="icon-notebook"></i>
              <span class="title">Portfolio</span>
              <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
              <li class="nav-item ">
                <a href="page_general_portfolio_1.html" class="nav-link "> Portfolio 1 </a>
              </li>
              <li class="nav-item ">
                <a href="page_general_portfolio_2.html" class="nav-link "> Portfolio 2 </a>
              </li>
              <li class="nav-item ">
                <a href="page_general_portfolio_3.html" class="nav-link "> Portfolio 3 </a>
              </li>
              <li class="nav-item ">
                <a href="page_general_portfolio_4.html" class="nav-link "> Portfolio 4 </a>
              </li>
            </ul>
          </li>
          <li class="nav-item  ">
            <a href="javascript:;" class="nav-link nav-toggle">
              <i class="icon-magnifier"></i>
              <span class="title">Search</span>
              <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
              <li class="nav-item ">
                <a href="page_general_search.html" class="nav-link "> Search 1 </a>
              </li>
              <li class="nav-item ">
                <a href="page_general_search_2.html" class="nav-link "> Search 2 </a>
              </li>
              <li class="nav-item ">
                <a href="page_general_search_3.html" class="nav-link "> Search 3 </a>
              </li>
              <li class="nav-item ">
                <a href="page_general_search_4.html" class="nav-link "> Search 4 </a>
              </li>
              <li class="nav-item ">
                <a href="page_general_search_5.html" class="nav-link "> Search 5 </a>
              </li>
            </ul>
          </li>
          <li class="nav-item  ">
            <a href="page_general_pricing.html" class="nav-link ">
              <i class="icon-tag"></i>
              <span class="title">Pricing</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a href="page_general_pricing_2.html" class="nav-link ">
              <i class="icon-tag"></i>
              <span class="title">Pricing 2</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a href="page_general_faq.html" class="nav-link ">
              <i class="icon-wrench"></i>
              <span class="title">FAQ</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a href="page_general_blog.html" class="nav-link ">
              <i class="icon-pencil"></i>
              <span class="title">Blog</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a href="page_general_blog_post.html" class="nav-link ">
              <i class="icon-note"></i>
              <span class="title">Blog Post</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a href="page_general_invoice.html" class="nav-link ">
              <i class="icon-envelope"></i>
              <span class="title">Invoice</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a href="page_general_invoice_2.html" class="nav-link ">
              <i class="icon-envelope"></i>
              <span class="title">Invoice 2</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item  ">
        <a href="javascript:;" class="nav-link nav-toggle">
          <i class="icon-settings"></i>
          <span class="title">System</span>
          <span class="arrow"></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item  ">
            <a href="page_cookie_consent_1.html" class="nav-link ">
              <span class="title">Cookie Consent 1</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a href="page_cookie_consent_2.html" class="nav-link ">
              <span class="title">Cookie Consent 2</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a href="page_system_coming_soon.html" class="nav-link " target="_blank">
              <span class="title">Coming Soon</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a href="page_system_404_1.html" class="nav-link ">
              <span class="title">404 Page 1</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a href="page_system_404_2.html" class="nav-link " target="_blank">
              <span class="title">404 Page 2</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a href="page_system_404_3.html" class="nav-link " target="_blank">
              <span class="title">404 Page 3</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a href="page_system_500_1.html" class="nav-link ">
              <span class="title">500 Page 1</span>
            </a>
          </li>
          <li class="nav-item  ">
            <a href="page_system_500_2.html" class="nav-link " target="_blank">
              <span class="title">500 Page 2</span>
            </a>
          </li>
        </ul>
      </li>
      <li class="nav-item">
        <a href="javascript:;" class="nav-link nav-toggle">
          <i class="icon-folder"></i>
          <span class="title">Multi Level Menu</span>
          <span class="arrow "></span>
        </a>
        <ul class="sub-menu">
          <li class="nav-item">
            <a href="javascript:;" class="nav-link nav-toggle">
              <i class="icon-settings"></i> Item 1
              <span class="arrow"></span>
            </a>
            <ul class="sub-menu">
              <li class="nav-item">
                <a href="?p=dashboard-2" target="_blank" class="nav-link">
                  <i class="icon-user"></i> Arrow Toggle
                  <span class="arrow nav-toggle"></span>
                </a>
                <ul class="sub-menu">
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="icon-power"></i> Sample Link 1</a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="icon-paper-plane"></i> Sample Link 1</a>
                  </li>
                  <li class="nav-item">
                    <a href="#" class="nav-link">
                      <i class="icon-star"></i> Sample Link 1</a>
                  </li>
                </ul>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="icon-camera"></i> Sample Link 1</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="icon-link"></i> Sample Link 2</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="icon-pointer"></i> Sample Link 3</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="?p=dashboard-2" target="_blank" class="nav-link">
              <i class="icon-globe"></i> Arrow Toggle
              <span class="arrow nav-toggle"></span>
            </a>
            <ul class="sub-menu">
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="icon-tag"></i> Sample Link 1</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="icon-pencil"></i> Sample Link 1</a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link">
                  <i class="icon-graph"></i> Sample Link 1</a>
              </li>
            </ul>
          </li>
          <li class="nav-item">
            <a href="#" class="nav-link">
              <i class="icon-bar-chart"></i> Item 3 </a>
          </li>
        </ul>
      </li>
    </ul>
    <!-- END SIDEBAR MENU -->
  </div>
  <!-- END SIDEBAR -->
</div>
<!-- END SIDEBAR -->
