.tree-title {
  margin-left: 30px;
  margin-bottom: 10px;
}

.tree-item {
  margin-left: 30px;
}

.tree-role-create {
  color: #32c5d2;
}

.tree-role-update {
  color: #3c763d;
}

.tree-role-delete {
  color: #e7505a;
}

.tree-role-read {
  color: #31708f;
}

.margin-left {
  margin-left: -10px !important;
}
