@import '~angular-tree-component/dist/angular-tree-component.css';
.ml-5 {
  margin-left: 5px;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
  z-index: 3;
  color: #fff;
  background-color: #32c5d2;
  border-color: #32c5d2;
  cursor: default;
}

tree-root div.tree-children::before,
div.tree::before {
  content: "";
  position: absolute;
  border-left: 1px dotted #23527c;
  height: 100%;
  top: -14px;
  left: 12px
}

tree-root {
  padding-left: 0;
  margin-left: -5px
}

tree-root div.tree-children {
  position: relative;
  padding-left: 0;
  margin-left: 16px
}

tree-root div.tree-children::before {
  left: 5px
}

tree-root tree-node>div>.node-wrapper {
  margin-left: 24px
}

tree-root tree-node>div>.node-wrapper>.node-content-wrapper {
  margin-left: 4px
}

tree-root tree-node>div.tree-node-leaf>.node-wrapper {
  margin-left: 0
}

tree-root tree-node>div::before {
  // content: "";
  // position: absolute;
  // border-bottom: 1px dotted #23527c;
  // width: 7px;
  // margin-top: 12px;
  // left: 7px
}

tree-root tree-node>div .toggle-children-wrapper {
  width: 13px;
  height: 13px;
  border: 1px solid #23527c;
  position: absolute;
  left: 15px;
  margin-top: 5px;
  margin-left: 0;
  display: inline-block;
  background-color: #fff;
  z-index: 1
}

tree-root tree-node>div .toggle-children-wrapper::before {
  content: "";
  display: inline-block;
  width: 7px;
  border-top: 1px solid #23527c;
  position: absolute;
  top: 5px;
  left: 2px
}

tree-root tree-node>div .toggle-children-wrapper.toggle-children-wrapper-collapsed::after {
  content: "";
  display: inline-block;
  height: 7px;
  border-left: 1px solid #23527c;
  position: absolute;
  top: 2px;
  left: 5px
}

tree-root tree-node>div .toggle-children-wrapper .toggle-children {
  display: none
}

tree-root tree-node>div .node-content-wrapper {
  margin-left: 4px
}

div.tree>tree-node>div::before {
  left: 14px
}

div.tree>tree-node>div>.node-wrapper>tree-node-expander>.toggle-children-wrapper {
  left: 22px
}

//
.node-content-wrapper,
.tree-children {
  position: relative;
}

.node-content-wrapper::before,
.tree-children::after {
  content: "";
  position: absolute;
}

.node-content-wrapper::before {
  border-bottom: 1px solid lightgrey;
  border-left: 1px solid lightgrey;
  height: 28px;
  top: -17px;
  width: 20px;
  left: -28px;
}

.tree-node-level-1>tree-node-wrapper>.node-wrapper>.node-content-wrapper::before {
  display: none;
}

.tree-node-leaf>.node-wrapper>.node-content-wrapper::before {
  width: 25px;
}

.tree-children::after {
  border-left: 1px solid lightgrey;
  height: 100%;
  top: -15px;
  left: -15px;
}

tree-node:last-child>.tree-node>.tree-children::after {
  border-left: none;
}

.toggle-children {
  z-index: 1;
}

.dropdown-container {
  width: auto;
}

.dropdown-item {
  display: block;
  line-height: 30px;
  width: 120px;
  margin-left: 30px;
  color: #26a1ab;
}

.tab-content {
  margin-left: 15px;
  margin-right: 15px;
  box-sizing: border-box;
}

.margin-top-20 {
  margin-top: 20px;
}

